name: Docker Dev Build

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Build Docker image
        run: docker build -t web-dev .

      - name: Run container
        run: docker run -d -p 8080:80 web-dev
